[package]
edition = "2021"
name = "yarnlock"
version = "1.1.0"

[lib]
crate-type = ["cdylib"]
name = "yarnlock"

[dependencies]
pyo3 = { version = "0.22.5", features = ["abi3-py39", "extension-module"] }

[profile.release]
overflow-checks = true
